.otp-input {
    font-size: 1.5rem;
  }


  .custom-popup {
    background-color: #54FFDD !important;
    p {
      color: #0047AB ;
      margin-top: 1rem;
      margin-bottom: 0.3rem;
      line-height: 20px;
    }

    h1 {
      color: #0047AB ;

      font-size: 1.3rem;
      text-align: center;
      line-height: 20px;
    }


  }