<div *ngIf="!isLoading" class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-6 rounded-lg shadow-lg w-11/12 lg:w-2/3 xl:w-1/2">
    <img [src]="imageUrl" alt="" class="m-auto">
    <h2 class="text-xl text-maintitle font-bold text-center mb-4">Formulario de Información</h2>

    <form [formGroup]="form">
      <div *ngIf="!showAdditionalFields" class="flex flex-col gap-4">
        <mat-form-field class="w-full">
          <mat-label>Cédula</mat-label>
          <input matInput formControlName="numberId">
          <mat-error *ngIf="form.get('numberId')?.invalid && form.get('numberId')?.touched">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Número de teléfono</mat-label>
          <input matInput formControlName="phoneNumber">
          <mat-error *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="form.get('password')?.hasError('strongPassword') && form.get('password')?.touched">
            La contraseña debe contener minimo 8 caracteres, una mayúscula, una minúscula, un numero y un carácter
            especial (&#64;$!%*?&)
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="showAdditionalFields" class="flex flex-col gap-4 mt-4">
        <mat-form-field class="w-full">
          <mat-label>Primer Nombre</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Primer Apellido</mat-label>
          <input matInput formControlName="lastName">
          <mat-error *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Selecciona la EPS</mat-label>
          <mat-select (selectionChange)="changeEPS($event.value)">
            <mat-option *ngFor="let eps of listEps" [value]="eps">
              {{ eps.nameEPS }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Selecciona tipo de Usuario</mat-label>
          <mat-select formControlName="typeIdentification">
            <mat-option value="CC">Cédula de ciudadanía</mat-option>
            <mat-option value="CCE">Cédula de extranjería</mat-option>
            <mat-option value="TI">Tarjeta de identidad</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="w-full flex items-center">
          <mat-checkbox (change)="acceptDataTreatment($event)" class="w-full" class="alinear">
            Acepto el tratamiento de datos
          </mat-checkbox>
          <mat-icon (click)="openDialog()">info</mat-icon>
        </div>


      </div>

      <button class="flex justify-center m-auto w-2/6 py-2 mt-4" *ngIf="!showAdditionalFields" (click)="send()">Enviar</button>
      <button class="flex justify-center m-auto w-2/6 py-2 mt-4" *ngIf="showAdditionalFields"  [disabled]="!form.valid" (click)="send()">Enviar</button>
      
    </form>


  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>