/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@tailwind base;
@tailwind components;
@tailwind utilities;


button {
    cursor: pointer;
    background-color: #54FFDD;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 20px;
    color: #1B3083;
}