<div *ngIf="!isLoading" class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <img src="https://imagefarmax.s3.us-east-1.amazonaws.com/LogoInphapro.png" alt="">
    <h2 class="text-xl font-bold text-center mb-4">Tipo de usuario</h2>
  
      <form [formGroup]="form">
        <!-- Select -->
        <mat-form-field  class="w-full">
          <mat-label>Selecciona tipo de Usuario</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="USERPACIENTE">Paciente</mat-option>
            <mat-option value="USERACUDIENTE">Acudiente</mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Campo de Cédula -->
        <mat-form-field  class="w-full">
          <mat-label>Cédula</mat-label>
          <input matInput formControlName="cc" type="text">
          <mat-error *ngIf="form.get('cc')?.invalid && form.get('cc')?.touched">
            La cédula debe tener al menos 5 caracteres.
          </mat-error>
        </mat-form-field>
  
        <!-- Botón de Buscar -->
        <button mat-raised-button color="primary" class="w-full mt-4"
          (click)="getUser()"
          [disabled]="form.invalid ">
          Buscar
        </button>
      </form>
    </div>
  </div>
  
<app-loading *ngIf="isLoading"></app-loading>
